<h1>Apps List</h1>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <% @apps.each do |app| %>
    <tr>
      <td>
        <%= link_to app.name, gcms_path + "/" + app.name%>
      </td>
      <td>
        <%= link_to 'notification', notification_gcms_path(:app_name => app.name) %>
      </td>
      <td>
        <%= link_to 'users', app_users_path(:app_name => app.name) %>
      </td>
    </tr>
    <% end %>
  </tbody>
<%= link_to 'アプリ登録', app_register_gcms_path %>
<%= link_to 'HOME', '/' %>
