<%= form_for(@notification, :url => notification_path(@notification)) do |f| %>
  <% if @notification.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this hoge from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= @app.name %>
  </div>
  <div class="control-group">
    <%= f.label :data, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :data, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                gcms_path, :class => 'btn' %>
  </div>
<% end %>
